.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  bottom: 0px;
  background-color: #2f80ed;
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
  .header__square-pic{
    height: 468px;
    width: 468px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .header__square-pic{
    height: 368px;
    width: 368px;
  }
}
@media screen and (max-width: 768px){
  .header__square-pic{
    display: none;
  }
}
