.video__iframes{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0 20px;
}
@media screen and (max-width: 1024px){
  .video__iframes{
    width: 100%;
    gap: 10px 10px;
  }
}
 @media screen and (max-width: 768px){
  .video__iframes{
    margin-top: 25px;
  }
}
