.page {
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
}
@media screen and (min-width: 1280px){
  .page{
    max-width: 1600px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
  .page{
    max-width: 1279px;
  }
}
@media screen and (max-width: 1023px){
  .page{
    max-width: 1023px;
  }
}
